.container {
  max-width: 80%;
  height: 100vh;
  margin: auto;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.main {
  /* padding-top: 30px; */
  height: calc(100% - 80px);
}

/* ! Q&A css styles */

.questions_and_asnwers {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
/* 
.questions_and_asnwers div {
  border: solid 1px black;
} */

.students_list li,
.questions_list li {
  margin: 8px 0;
}

.students_list {
  width: 15vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.questions_list {
  width: 25vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
.questions_list ol {
  width: 50vw;
}

.content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ! Erudite css styles */

.erudite_menu {
  padding: 12px 0;
  height: 95%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  overflow-y: scroll;

  /* display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 12px; */
}

.erudite_question_dtls {
  height: 95%;
}
